.A{
width:400px;
height: 500px;
border-radius: 10px;
background: linear-gradient(var(--bg1), var(--bg2));
}
.A img {
width:200px;
height:200px;
border-radius:50%;
border: 5px solid #fafafa;
margin:20px auto;
cursor: pointer;
position: relative;
transition: 0.5s;
}
:root{
    --bg1 :#ff3800;
    --bg2 :#3498db;
    --bg :#07E1EC;
    --bg3: #ff9c24;
}
*{
    margin:0;
padding:0;
}
.A h1{color:#050000;
    font-family: 'Saira', sans-serif;
    }
    .A p{
        color:#000505;
        margin: 0 30px 12px;
        font-size: 18px;
        font-family: bold,sans-serif;
    }
        
    body{
        display: flex;
        justify-content: center;
        align-items: center;
        width:100vw;
        height:100vh;
        text-align: center;
        background:linear-gradient(var(--bg3), var(--bg2));
        background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSdtbIgsWUANajbugTUxeG7h0XPdd5xegBqAg&usqp=CAU");
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
    }
    .B {
        display: flex;
        justify-content: space-between;
        margin: 0 12px 15px 20px;

    }
        .B button{
            height: 40px;
            width:150px;
            border:none;
            margin-right: 12px;
            border-radius: 5px;
            color:#000000b2;
            cursor:pointer;
     font-size:16px;
     font-family: 'Patrick Hand', cursive;
     background:   #fff7ff;
     border-style: outset;
     border-color: buttonborder;
     border-image: initial;
     appearance: auto;
    writing-mode: horizontal-tb !important;
  
 }
        
        .icon{
            position: absolute;
            display: flex;
            flex-direction: column;
        }
        .C {
            padding: 12px;
            color: var(--bg1);
            background: #ffffff;
border-radius:50%;
margin: 5px 0 0 12px;
}
.A img:hover{
    width: 400px;
    height: 500px;
    margin:0;
    border: 5px solid #f57f18;
    border-radius:10px;
}
.icon svg:hover{
    color:hsl(64, 91%, 55%);
}
#D{background: linear-gradient(45deg, #1da1f2, #0e71c8);}
    #E{background:linear-gradient(45deg, #d5135a, #f05924);}
    #G{line-height:30px;}
   #Z{line-height:25px;}
   #P{line-height:10px;}
   #I{
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;}

   #O{line-height: 40px;
margin:5px 0px 10px;
font-weight: 500;
font-size: 20px;
font-family: bold,sans-serif;
}


    

  
   